.searchBar {
  height: 100%;
  width: 100%;
  background-color: #ffff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: #ffff;
  overflow-y: auto;
}
.search-top {
  padding: 5px;
}

.searchButton {
  margin-left: 8px !important;
  text-transform: capitalize !important;
}

.css-19kzrtu {
  padding: 3px !important;
}
.search-new-event {
  display: flex;
  justify-content: center;
}
.search-new-event form {
  max-width: 500px;
}
.date {
  margin: 16px 0px;
  width: 100%;
}
textarea {
  padding: 8px !important;
  font-size: 16px;
}

.events-data{
  height: 100%;
}

.tabPanel{
  height: 90vh;
  overflow-y: auto;
}
