.register {
  background-color: rgb(183, 209, 237);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  padding: 8px;
  text-transform: capitalize;
}

form {
  width: 500px;
  min-height: 400px;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.TextField {
  margin-bottom: 16px !important;
}

.register-input {
  padding: 10px;
}
