.profile {
  min-height: 100vh;
}
.profile-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dog-panel {
  display: flex;
  justify-content: space-between;
}

.dog-list {
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  height: 100% !important;
}

.eventHistory-list {
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  height: 100% !important;
}

.dog-add {
    margin: 8px;
  width: 300px;
}
