.gMap {
  background-color: #ffff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: #ffff;
}

.searchAddress{
  position: absolute;
  width: 500px !important;
  top: 0.6rem;
  left: 12rem;
}

.btnReset{
  position: absolute;
  top: 0.7rem;
  left: 692px;
  height: 35px;
  width: 50px;
  background-color: whitesmoke;
  border: none;
  
}
.btnReset:hover{
  cursor: pointer;
}