.gMap {
  background-color: #ffff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: #ffff;
}

.searchAddress{
  position: absolute;
  width: 500px !important;
  top: 0.6rem;
  left: 12rem;
}

.btnReset{
  position: absolute;
  top: 0.6rem;
  left: 692px;
  height: 37px;
  width: 50px;
  color: whitesmoke;
  background-color: rgb(80, 93, 133);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
}
.btnReset:hover{
  cursor: pointer;
}